:root {
    --font-size: 20px;
    --line-height: 1.2;
    --padding: 24px;
    --container-width: 1224px;
    --color-cobalt-1: #f7f9ff;
    --color-cobalt-5: #ebf0ff;
    --color-cobalt-10: #dee6ff;
    --color-cobalt-20: #c9d6fe;
    --color-cobalt-30: #93aeff;
    --color-cobalt-40: #657eff;
    --color-cobalt-70: #053ce1;
    --color-cobalt-100: #032ca5;
    --color-grey-30: #bcc7e2;
    --color-grey-50: #8494c3;
    --color-grey-60: #6d7fb2;
    --color-grey-70: #415591;
    --color-grey-100: #242c47;
    --color-midnight: #0b2471;
    --color-newday: #fffbf3;
    --color-cobalt-medium: #5d93ff;
    --color-cobalt-core: #265cff;
    --color-cobalt-deep: #03c;
    --color-spring: #8ab280;
    --color-forest: #1d7368;
    --color-sunbeam: #ffe8a3;
    --color-poppy: #f63;
    --color-straw: #f9f5d6;
    --color-grass: #00bb81;
    --color-marigold: #eca74e;
    --color-tangerine: #f96;
    --color-energy: #abf1d0;
    --color-early-spring: #bddcc3;
    --color-sky: #c4e7f4;
    --color-afternoon: #e9c471;
    --color-sun: #e77054;
    --color-warm-light: #f3e1c0;
    --color-storm: #5d8bb8;
    --color-white: #fff;
    --color-text: #0b2471;
    --border-dashed-cobalt: 1px dashed rgba(13,89,242,.5);
}

* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
    color: var(--color-text);
}
